.JokeList {
    display: flex;
    width:80%;
    height: 80%;
}
.JokeList-sidebar {
    background: #8E0E00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1F1C18, #8E0E00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
     box-shadow: 0 19px 39px rgba(0, 0, 0, 0.3),
     0 15px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
}
.JokeList-title {
font-size: 4rem;
margin: 2rem;
color: #D3CCE3;
/* fallback for old browsers */
color: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
/* Chrome 10-25, Safari 5.1-6 */
color: linear-gradient(to right, #E9E4F0, #D3CCE3);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

font-weight: 300;
letter-spacing: 0.6rem;
}

.JokeList-title span {
    font-weight: 700;
    letter-spacing: 0;
}
.JokeList-sidebar img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0 19px 39px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.1);
    z-index: 2;

}
.JokeList-jokes {
    height: 90%;
    background: white;
    align-self: center;
    width:70%;
    overflow:auto;
    /* overflow: hidden; */
    box-shadow: 0 19px 39px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.1);
}
.JokeList-spinner{
    color:white;
    text-align: center;
}